/*=============================================================
SuperResete.css v1.2.0
Author: @Antony999k
MIT License
https://github.com/antony999k/SuperResete.css
=============================================================*/

/* Documet
---------------------------------------------------------------*/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Basic HTML
---------------------------------------------------------------*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
  margin: 0;
  padding: 0;
}

body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

li,
ul,
ol{
  list-style: none;
  padding: 0;
  margin: 0;
}


/* Form - Input
---------------------------------------------------------------*/
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

input,
textarea{
  border: none;
}

textarea{
  resize: none;
}

input:focus,
textarea:focus,
select:focus{
    outline:none;
}

button{
  border: none;
  padding: 0;
  background: none;
}

button:focus{
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Formating
---------------------------------------------------------------*/
mark {
  background-color: #ff0;
  color: #000;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

/* Audio - Video
---------------------------------------------------------------*/
audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

/* Images
---------------------------------------------------------------*/
img {
  border-style: none;
}

canvas {
  display: inline-block;
}
